/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #212121;
  --matr-navbar-bg-rgb: 33, 33, 33;
  --matr-navbar-text-color: #FBFCFC;
  --matr-navbar-highlight-text: #797D7F;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.custom-carousel {
  top: 50px;
  display: block;
  margin: auto;
}

.your-cards {
  width: 250px;
  margin: auto;
  display: block;
}

/* Top left text */
/* for prof names */
.top-left {
  position:absolute;
  top: 30px;
  left: 550px;
  color: white;
}
/* for stars */
.bottom-left{
  position:absolute;
  bottom: 50px;
  left: 550px;
  color: white;
}
.container {
  position: relative;
}

.prof-card-container {
  position: relative;
  width: 300px;
  height: 400px;
}

.prof-name {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Lines from here are for: CardCloseups.jsx  */      
/* reused some in profcard in the conversion proccess */
.custom-modal .modal-content {
  background-color: transparent;
  border: none;
}

.custom-modal .modal-body {
  background-color: transparent;
  border: none;
}

.custom-carousel3 {
  position: absolute;
  align-items: center;
  display: flex;
  margin: 7vh auto auto;
  width: 100vw;
}

.custom-carousel3 .carousel-inner {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  height: 600px;
}

.custom-carousel3 .carousel-control-next {
  position: absolute;
  margin-right: 15vw;
  width: 80px;
}

.custom-carousel3 .carousel-control-prev {
  position: absolute;
  margin-left: 12vw;
  width: 80px;
}

.center-cards3 {
  display: grid;
  margin: auto;
  width: 290px;
}

.card-text {
  color: whitesmoke;
  opacity: 95%;
  position: absolute;
  left: 13vw;
  top: 18vh;
  font-family: Orbitron, serif;
  width: 500px;
  text-align: center;
  font-weight: lighter;
  transition: opacity 0.2s;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400 900;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.card-entries {
  width: 200px;
  margin: 50px 50px 50px 50px;
  display: block;
  justify-content: center;
}

/* End */
